.nav {
    display: flex;
    justify-content: space-between;
    height: 60px;
    align-items: center;
    border-bottom: 1px solid rgb(228, 228, 228);
}

.nav a {
    flex-grow: 1;
}

.nav h1 {
    flex-grow: 1;
    margin-left: 10px;
}

.navCategorias {
    list-style-type: none;
    flex-grow: 50;
    text-align: right;
    padding-right: 10px;
}

.navCategorias li {
    float: left;
    margin: 0px 5px 0px 5px;
}

.navCategorias li a {
    color: black;
    text-decoration: none;
}

.navCategorias li a:hover {
    color: rgb(85, 85, 85);
}

.cartWidgetContainer {
    flex-basis: 60px;
}

#contadorCarrito {
    padding: 2px 6px;
    vertical-align: top;
    margin-left: -20px;
    color: white;
    background-color: orangered;
    border-radius: 50%;
}

.carrito {
    margin-right: 15px;
}

.itemListContainer {
    margin: auto;
    width: 60%;
    padding: 10px;
}

.articulo {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    width: 50%;
    float: left;
}

.articulo img {
    flex-grow: 0;    
    flex-shrink: 0;
    flex-basis: 150px;
    height: 150px;
    width: 150px
}

.datosArticulo {
    display: flex;
    flex-direction: column;
    text-align: left;
    flex-basis: 70%;
    border-bottom: 1px solid rgb(229, 229, 229);
    margin-left: 10px;
}

.titulo {
    font-size: 1.1rem;
    font-weight: bold;
    color: #1a7db7;
}

.numeroParte span, .precio span, .stock span {
    font-weight: bold;
}

.itemCounter {
    border: 1px solid rgb(229, 229, 229);
    border-radius: 4px;
    max-width: 200px;
    margin: auto;
    flex-basis: 15%;
}

.itemCounter button {
    font-size: 0.8rem;
    margin: 10px;
    background-color: #00c56c; 
    border: none;
    border-radius: 4px;
    color: white;
    padding: 5px 20px;
    cursor: pointer;
}

.itemCounter span {
    font-size: 1rem;
    font-weight: bold;
}

.cajaArticuloDetalle {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border: 1px solid rgb(229, 229, 229);
    padding: 40px;
}

.articuloDetalle {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 1.4rem;
}

.articuloDetalle .titulo {
    font-size: 1.8rem;
}

.articuloDetalle .datosArticulo {
    border: none;
}

.agrupador {
    display: flex;
    flex-direction: column;
}

.cajaImg img {
    height: 150px;
}

.articuloDetalle .titulo, .articuloDetalle .descripcion, .articuloDetalle .precio, .articuloDetalle .numeroParte, .articuloDetalle .stock {
    margin: 8px;

}

.contadorCarrito {
    margin-bottom: 10px;
}

.linkCategorias {
    margin-right: 10px;
    font-size: 1.4rem;
    color: black;
}

.linkCategorias:hover {
    color: #1a7db7;
}
.linkCategorias:focus {
    color: #1a7db7;
    border-bottom: 1px solid #1a7db7;
}

.linkTitulo {
    color: #1a7db7;
}

.linkCategorias, .linkTitulo {
    text-decoration: none;
}

.botonFinalizar, .botonCerrarCompra {
    text-decoration: none;
    font-size: 0.8rem;
    margin: 10px;
    background-color: #00c56c; 
    border: none;
    border-radius: 4px;
    color: white;
    padding: 5px 20px;
    cursor: pointer;
}

.divTablaCarrito h1 {
    padding-bottom: 40px;
}

.tablaCarrito {
    margin: 0 auto;
    width: 50%;
}

.tablaCarrito td {
    padding: 20px;
}

.tablaCarrito th {
    width: 5%;
}

.tablaCarrito th+th {
    width: 35%;
}

.tablaCarrito th+th+th {
    width: 5%;
}

.tablaCarrito th+th+th+th {
    width: 5%;
}

.tablaCarrito th+th+th+th+th {
    width: 5%;
}

.divTablaCarrito {
    padding: 20px;
    border-bottom: 1px solid rgb(229, 229, 229);
}

.botonQuitar {
    text-decoration: none;
    font-size: 0.8rem;
    margin: 10px;
    background-color: #797979; 
    border: none;
    border-radius: 4px;
    color: white;
    padding: 5px 20px;
    cursor: pointer;
}

.botonVaciar {
    text-decoration: none;
    font-size: 0.8rem;
    margin: 10px;
    background-color: #b52f2f; 
    border: none;
    border-radius: 4px;
    color: white;
    padding: 5px 20px;
    cursor: pointer;
}

.carritoVacio {
    border: 1px solid rgb(229, 229, 229);
    border-radius: 4px;
    padding: 25px;
    width: 30%;

    position: absolute;
    left: 50%;
    top: 30%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.linkCarritoVacio {
    text-decoration: none;
    font-size: 0.8rem;
    margin: 10px;
    background-color: #797979; 
    border: none;
    border-radius: 4px;
    color: white;
    padding: 5px 20px;
    cursor: pointer;
}

.cajaFormCompra label {
    padding: 10px;
}
